<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<title>G.E.S. - Marcas: Cadastro</title>
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	     <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	     <meta charset="UTF-8"/>
	</head>
	<body>
		<div class="container" th:object="${marca}">
			<div class="row left col s1">
				<h5 class="header left teal-text text-lighten-2"><a href="/" class="btn-flat waves-effect waves-light">Voltar</a></h5>
			</div>
			<div class="row center col s12">
				<h3 class="header center teal-text text-lighten-2">Cadastro de Marca</h1>	
			</div>
			<div class="row">
				<form id="formMarca" action="/marca/cadastrar" method="POST" class="col s12">
					<div class="input-field col s6">
						<input type="hidden" th:field="*{idMarca}" />
						<input th:value="${marca.nomeMarca}" placeholder="Nome da marca" id="marca" name="nomeMarca" type="text" class="validate" />
						<label for="marca">Nome da Marca</label>
					</div>
					<div class="col s6">
						<button class="btn-flat waves-effect waves-light teal-text text-lighten-2 modal-trigger" data-target="modalConfirm" onclick="confirmData()">Salvar informações</button>
					</div>
				</form>
				<div class="modal" id="modalConfirm">
						<div class="modal-content">
							<div id="cabecalho">
								<h4 class="header center teal-text text-lighten-2">Confirmar dados</h4>
								<p>Você tem certeza que os dados estão corretos?</p>
								<label for="nomeMarcaModal">Nome da marca</label>
								<p id="nomeMarcaModal" th:text="${marca.nomeMarca}"></p>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn-flat waves-effect waves-light" form="formMarca" type="submit" name="action">Salvar</button>
							<button class="btn-flat modal-close waves-effect waves-light red-text">Cancelar</button>
						</div>
					</div>
			</div>
		</div>

		<script
			src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"></script>
		 <script src="/js/materialize.js"></script>
		 <script type="text/javascript">
		 	$(document).ready(function(){
		 		$('.modal').modal();
			});
		 </script>
		 <script type="text/javascript">
		 	function confirmData(){
		 		let input = document.querySelector("#marca");
		 		document.getElementById("nomeMarcaModal").innerHTML = input.value;
		 	}
		 </script>
	</body>
</html>