<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	<link rel="shortcut icon" href="/images/favicon.ico"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
</head>
<body>
	<div class="container" th:object="${motor}">
		<div class="row" id="cabecalho">
			<div class="left col s1">
				<h5 class="header left teal-text text-lighten-2"><a href="/marca/" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Voltar</a></h5>
			</div>
			<div class="center col s12">
				<h3 class="header center teal-text text-lighten-2">Detalhes: <span th:text="${motor.nomeMotor}"></span></h3>
			</div>
		</div>
		<div class="row" id="corpo">
			<label for="fabricante">Fabricante</label>
			<p class="teal-text text-lighten-2" id="fabricante" th:text="${motor.fabricante.nomeMarca}"></p>
			<label for="codigoMotor">Código do Motor</label>
			<p class="teal-text text-lighten-2" id="codigoMotor" th:text="${motor.codigoMotor}"></p>
			<label for="nomeMotor">Nome comercial do motor</label>
			<p class="teal-text text-lighten-2" id="nomeMotor" th:text="${motor.nomeMotor}"></p>
			<label for="cilindrada">Cilindrada</label>
			<p class="teal-text text-lighten-2" id="cilindrada" th:text="${motor.cilindrada}"></p>
			<label for="descMotor">Descrição</label>
			<p clas="teal-text text-lighten-2" id="descMotor" th:text="${motor.descricaoMotor}"></p>
		</div>
	</div>

	<script
		src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
	<script src="/js/materialize.js"></script>
</body>
</html>