<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<title>God Engine Store - Clientes</title>
		<link rel="shortcut icon" href="/images/favicon.ico"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta charset="UTF-8"/>
	</head>
	<body>
		<div class="container">
			<h1 class="header center teal-text text-lighten-2">Você chegou aqui!</h1>
		</div>



		<script
				  src="https://code.jquery.com/jquery-3.6.0.js"
				  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
				  crossorigin="anonymous"></script>
		 <script src="/js/materialize.js"></script>
	</body>
</html>