<!DOCTYPE html>
<html>
<head>
	<title>God Engine Store - Home</title>
	<link rel="shortcut icon" href="/images/favicon.ico"/>
 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8"/>
</head>
<body>
	TESTE MAN

	<script
		src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
	<script type="text/javascript" src="/js/materialize.js"></script>
</body>
<footer>
	TESTE MAN
</footer>
</html>