<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<title>God Engine Store - Marcas</title>
		<link rel="shortcut icon" href="/images/favicon.ico"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta charset="UTF-8"/>
	</head>
	<body>
		<div class="container">
			<div class="row valign-wrapper">
				<div class = "row left col s1">
					<h5 class="header left teal-text text-lighten-2"><a href="/" class="btn-flat waves-effect waves-light">Voltar</a></h5>
				</div>
				<div class="row center col s12">
					<h3 class="header center teal-text text-lighten-2">Lista de Marcas</h3>
				</div>
			</div>
			<div class="row">
				<table class="stripped responsive-table col s12">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome da Marca</th>
							<th class="center">Opções</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="marca : ${marcas}">
							<td th:text="${marca.idMarca}"></td>
							<td th:text="${marca.nomeMarca}"></td>
							<td><a th:href="@{${'/'+marca.idMarca+'/modelo/form'}}" class="btn-flat waves-effect waves-light teal-text text-lighten-2 modal-trigger">Novo modelo</a></td>
							<td><a th:href="@{${'/'+marca.idMarca+'/modelo/listarModelos'}}" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Ver modelos</a></td>
							<td><a th:href="@{${'/'+marca.idMarca+'/motor/form'}}" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Novo motor</a></td>
							<td><a th:href="@{${'/'+marca.idMarca+'/motor/listarMotores-Marca'}}" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Ver motores</a></td>
						</tr>
					</tbody>
				</table>
			</div>

				<div class="fixed-action-btn">
					<a class="btn-floating btn-large waves-effect waves-light red" th:href="@{${'/marca/form'}}"><i class="material-icons">add</i></a>
				</div>

		</div>

		<script
				  src="https://code.jquery.com/jquery-3.6.0.js"
				  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
				  crossorigin="anonymous"></script>
		 <script src="/js/materialize.js"></script>
	</body>
</html>