<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<title>God Engine Store - Modelos</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <meta charset="UTF-8"/>
	</head>
	<body>
		<div class="container">
			<div class="row valign-wrapper">
				<div class="row left col s1">
					<h5 class="header left teal-text text-lighten-2"><a href="/marca/" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Voltar</a></h5>
				</div>
				<div clss="row center col s11;">
					<h3 class="header center teal-text text-lighten-2">Lista de Modelos</h3>
				</div>
			</div>
			<div class="row">
				<table class="stripped responsive-table col s12">
					<thead>
						<th>ID</th>
						<th>Marca</th>
						<th>Modelo</th>
						<th>Anos em Fabricação</th>
						<th>Descrição</th>
					</thead>
					<tbody>
						<tr th:each="modelo : ${modelos}">
							<td th:text="${modelo.idModelo}"></td>
							<td th:text="${modelo.marca.nomeMarca}"></td>
							<td th:text="${modelo.nomeModelo}"></td>
							<td th:text="${modelo.anosEmFabricacao}"></td>
							<td><a th:href="@{${'/'+modelo.marca.idMarca+'/modelo/'+modelo.idModelo+'/detalharModelo'}}" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Ver detalhes</a></td>
							<td><a th:href="@{${'/'+modelo.marca.idMarca+'/modelo/editar/'+modelo.idModelo}}" class="btn-flat waves-effect waves-light teal-text">Editar modelo</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<script
				  src="https://code.jquery.com/jquery-3.6.0.js"
				  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
				  crossorigin="anonymous"></script>
		 <script src="/js/materialize.js"></script>
	</body>
</html>