<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head>
		<title>God Engine Store - Motores</title>
		 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	     <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	     <meta charset="UTF-8"/>
	</head>
	<body>
		<div class="container">
			<div class="row valign-wrapper">
				<div class="left col s1">
					<h5 class="header left teal-text text-lighten-2"><a href="/marca/" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Voltar</a></h5>
				</div>
				<div class="centel col s12">
					<h3 class="header center teal-text text-lighten-2">Motores</h3>
				</div>
			</div>

			<div class="row">
				<table class="stripped responsive-table">
					<thead>
						<th>Código</th>
						<th>Fabricante</th>
						<th>Nome comercial</th>
						<th>Cilindrada</th>
						<th>Opções</th>
					</thead>
					<tbody>
						<tr th:each="motor : ${motores}">
							<td th:text="${motor.codigoMotor}"></td>
							<td th:text="${motor.fabricante.nomeMarca}"></td>
							<td th:text="${motor.nomeMotor}"></td>
							<td th:text="${motor.cilindrada}"></td>
							<td><a th:href="@{${'/'+motor.fabricante.idMarca+'/motor/'+motor.idMotor+'/detalharMotor'}}" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Ver detalhes</a></td>
							<td><a th:href="@{${'/'+motor.fabricante.idMarca+'/motor/'+motor.idMotor+'/editar'}}" class="btn-flat waves-effect waves-light teal-text text-lighten-2">Editar</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<script
				  src="https://code.jquery.com/jquery-3.6.0.js"
				  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
				  crossorigin="anonymous"></script>
		 <script src="/js/materialize.js"></script>
	</body>
</html>